<.header>
  New Project
  <:subtitle>Use this form to manage project records in your database.</:subtitle>
</.header>

<.project_form changeset={@changeset} action={~p"/projects"} />

<.back navigate={~p"/projects"}>Back to projects</.back>
